body, html {
    height: 100%;
    margin: 0;
  }

.container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
}

.header {
    background-color: white;
    grid-column: 2/4;
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: green;
    color: white;
    grid-row: 1/3;
}

.sidebar .icons {
    display: grid;
    grid-template-rows: 1fr 3fr 2fr 4fr;
    grid-column: 1/2;
}

.sidebar .labels {
    display: grid;
    grid-template-rows: 1fr 3fr 2fr 4fr;
}

.sidebar .dashboard {
    grid-row: 1/2;
}

.sidebar .home {
    grid-row: 2/3;
}

.sidebar .settings {
    grid-row: 3/4;
}

.main-content {
    background-color: rgb(202, 202, 202);
}